<section class="login">
    <!-- component -->
    <div class="login1">
        <img src="/img/download.png" alt="">
        <div >
          <label for="username">
            Name
          </label>
          <input  id="username" type="Name" placeholder="Your Name">
        </div>
        <div >
            <label for="username">
              Email
            </label>
            <input  id="username" type="        email" placeholder="Email">
          </div>
        <div >
          <label  for="password">
            Password
          </label>
          <input id="password" type="password" placeholder="******************">
          <p class="text-red text-xs italic">Please choose a password.</p>
        </div>
        <div>
          <button type="button">
           Register
          </button>
          <a href="/login">
            Already have account
          </a>
        </div>
    </div>
    <style>
        .login {
    text-align: center;
    margin: 100px;
        }
        label {
            font-size: 40px;
            font-weight: bold;
        }
        p {
            font-size: 20px;
            font-weight: bold;
        }
        input {
            font-size: 30px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: black;
        }
    </style>
    </section>