<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <nav class="container">
    <div>
        <h2>RESTURANT HOOMIE</h2>
    </div>
    <div>
        <ul class="flex items-center">
            <li class="max"><a href="#">Menu</a></li>
            <li class="maax"><a href="#">Offers</a></li>
            <li class="max"><a href="#">Register</a></li>
            <li class="max"><a href="#">Login</a></li>
            <li class="max"><a href="#"><img src="/img/cart.png" alt="" width="50px"></a></li>
        </ul>
    </div>
</nav>

<section class="id1">
   <div>
            <pre>RESTURANT HOOMIE is
   24/7 
open for all of u contact us anytime </pre>
    <img class="front " src="/img/front.jpg" alt="">
</div>
<div class="pizza">
    <div class="box">
        <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
        <div>
            <p>Foodie</p>
            <div>
                <span>Rs---</span>
                <button>
                    <span>+</span>
                    <span>ADD</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="box">
        <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
        <div>
            <p>Foodie</p>
            <div>
                <span>Rs---</span>
                <button>
                    <span>+</span>
                    <span>ADD</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="box">
        <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
        <div>
            <p>Foodie</p>
            <div>
                <span>Rs---</span>
                <button>
                    <span>+</span>
                    <span>ADD</span>
                </button>
            </div>
        </div>
    </div>
    <div class="box">
        <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
        <div>
            <p>Foodie</p>
            <div>
                <span>Rs---</span>
                <button>
                    <span>+</span>
                    <span>ADD</span>
                </button>
            </div>
        </div>
    </div>
    <div class="box">
        <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
        <div>
            <p>Foodie</p>
            <div>
                <span>Rs---</span>
                <button>
                    <span>+</span>
                    <span>ADD</span>
                </button>
            </div>
        </div>
    </div>
    <div class="box">
        <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
        <div>
            <p>Foodie</p>
            <div>
                <span>Rs---</span>
                <button>
                    <span>+</span>
                    <span>ADD</span>
                </button>
            </div>
        </div>
    </div>
    </div>


    <div class="pizza">
        <div class="box">
            <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
            <div>
                <p>Foodie</p>
                <div>
                    <span>Rs---</span>
                    <button>
                        <span>+</span>
                        <span>ADD</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="box">
            <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
            <div>
                <p>Foodie</p>
                <div>
                    <span>Rs---</span>
                    <button>
                        <span>+</span>
                        <span>ADD</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="box">
            <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
            <div>
                <p>Foodie</p>
                <div>
                    <span>Rs---</span>
                    <button>
                        <span>+</span>
                        <span>ADD</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="box">
            <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
            <div>
                <p>Foodie</p>
                <div>
                    <span>Rs---</span>
                    <button>
                        <span>+</span>
                        <span>ADD</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="box">
            <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
            <div>
                <p>Foodie</p>
                <div>
                    <span>Rs---</span>
                    <button>
                        <span>+</span>
                        <span>ADD</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="box">
            <img class="img1" src="/img/food2.jpeg" alt="" width="100%">
            <div>
                <p>Foodie</p>
                <div>
                    <span>Rs---</span>
                    <button>
                        <span>+</span>
                        <span>ADD</span>
                    </button>
                </div>
            </div>
        </div>
        </div>


        <div class="pizza">
            <div class="box">
                <img class="img1" src="/img/food31.webp" alt="" width="100%">
                <div>
                    <p>Foodie</p>
                    <div>
                        <span>Rs---</span>
                        <button>
                            <span>+</span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="box">
                <img class="img1" src="/img/food31.webp" alt="" width="100%">
                <div>
                    <p>Foodie</p>
                    <div>
                        <span>Rs---</span>
                        <button>
                            <span>+</span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="box">
                <img class="img1" src="/img/food31.webp" alt="" width="100%">
                <div>
                    <p>Foodie</p>
                    <div>
                        <span>Rs---</span>
                        <button>
                            <span>+</span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="img1" src="/img/food31.webp" alt="" width="100%">
                <div>
                    <p>Foodie</p>
                    <div>
                        <span>Rs---</span>
                        <button>
                            <span>+</span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="img1" src="/img/food31.webp" alt="" width="100%">
                <div>
                    <p>Foodie</p>
                    <div>
                        <span>Rs---</span>
                        <button>
                            <span>+</span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box">
                <img class="img1" src="/img/food31.webp" alt="" width="100%">
                <div>
                    <p>Foodie</p>
                    <div>
                        <span>Rs---</span>
                        <button>
                            <span>+</span>
                            <span>ADD</span>
                        </button>
                    </div>
                </div>
            </div>
            </div>


            <div class="pizza">
                <div class="box">
                    <img class="img1" src="/img/food31.webp" alt="" width="100%">
                    <div>
                        <p>Foodie</p>
                        <div>
                            <span>Rs---</span>
                            <button>
                                <span>+</span>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="box">
                    <img class="img1" src="/img/food31.webp" alt="" width="100%">
                    <div>
                        <p>Foodie</p>
                        <div>
                            <span>Rs---</span>
                            <button>
                                <span>+</span>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="box">
                    <img class="img1" src="/img/food31.webp" alt="" width="100%">
                    <div>
                        <p>Foodie</p>
                        <div>
                            <span>Rs---</span>
                            <button>
                                <span>+</span>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img class="img1" src="/img/food31.webp" alt="" width="100%">
                    <div>
                        <p>Foodie</p>
                        <div>
                            <span>Rs---</span>
                            <button>
                                <span>+</span>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img class="img1" src="/img/food31.webp" alt="" width="100%">
                    <div>
                        <p>Foodie</p>
                        <div>
                            <span>Rs---</span>
                            <button>
                                <span>+</span>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img class="img1" src="/img/food31.webp" alt="" width="100%">
                    <div>
                        <p>Foodie</p>
                        <div>
                            <span>Rs---</span>
                            <button>
                                <span>+</span>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </div>
                </div>

                <div class="pizza">
                    <div class="box">
                        <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                        <div>
                            <p>Foodie</p>
                            <div>
                                <span>Rs---</span>
                                <button>
                                    <span>+</span>
                                    <span>ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="box">
                        <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                        <div>
                            <p>Foodie</p>
                            <div>
                                <span>Rs---</span>
                                <button>
                                    <span>+</span>
                                    <span>ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="box">
                        <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                        <div>
                            <p>Foodie</p>
                            <div>
                                <span>Rs---</span>
                                <button>
                                    <span>+</span>
                                    <span>ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                        <div>
                            <p>Foodie</p>
                            <div>
                                <span>Rs---</span>
                                <button>
                                    <span>+</span>
                                    <span>ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                        <div>
                            <p>Foodie</p>
                            <div>
                                <span>Rs---</span>
                                <button>
                                    <span>+</span>
                                    <span>ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                        <div>
                            <p>Foodie</p>
                            <div>
                                <span>Rs---</span>
                                <button>
                                    <span>+</span>
                                    <span>ADD</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="pizza">
                        <div class="box">
                            <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                            <div>
                                <p>Foodie</p>
                                <div>
                                    <span>Rs---</span>
                                    <button>
                                        <span>+</span>
                                        <span>ADD</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="box">
                            <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                            <div>
                                <p>Foodie</p>
                                <div>
                                    <span>Rs---</span>
                                    <button>
                                        <span>+</span>
                                        <span>ADD</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="box">
                            <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                            <div>
                                <p>Foodie</p>
                                <div>
                                    <span>Rs---</span>
                                    <button>
                                        <span>+</span>
                                        <span>ADD</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                            <div>
                                <p>Foodie</p>
                                <div>
                                    <span>Rs---</span>
                                    <button>
                                        <span>+</span>
                                        <span>ADD</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                            <div>
                                <p>Foodie</p>
                                <div>
                                    <span>Rs---</span>
                                    <button>
                                        <span>+</span>
                                        <span>ADD</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <img class="img1" src="/img/food4.jpeg" alt="" width="100%">
                            <div>
                                <p>Foodie</p>
                                <div>
                                    <span>Rs---</span>
                                    <button>
                                        <span>+</span>
                                        <span>ADD</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="pizza">
                            <div class="box">
                                <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                <div>
                                    <p>Foodie</p>
                                    <div>
                                        <span>Rs---</span>
                                        <button>
                                            <span>+</span>
                                            <span>ADD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="box">
                                <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                <div>
                                    <p>Foodie</p>
                                    <div>
                                        <span>Rs---</span>
                                        <button>
                                            <span>+</span>
                                            <span>ADD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="box">
                                <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                <div>
                                    <p>Foodie</p>
                                    <div>
                                        <span>Rs---</span>
                                        <button>
                                            <span>+</span>
                                            <span>ADD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                <div>
                                    <p>Foodie</p>
                                    <div>
                                        <span>Rs---</span>
                                        <button>
                                            <span>+</span>
                                            <span>ADD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                <div>
                                    <p>Foodie</p>
                                    <div>
                                        <span>Rs---</span>
                                        <button>
                                            <span>+</span>
                                            <span>ADD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                <div>
                                    <p>Foodie</p>
                                    <div>
                                        <span>Rs---</span>
                                        <button>
                                            <span>+</span>
                                            <span>ADD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="pizza">
                                <div class="box">
                                    <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                    <div>
                                        <p>Foodie</p>
                                        <div>
                                            <span>Rs---</span>
                                            <button>
                                                <span>+</span>
                                                <span>ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box">
                                    <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                    <div>
                                        <p>Foodie</p>
                                        <div>
                                            <span>Rs---</span>
                                            <button>
                                                <span>+</span>
                                                <span>ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box">
                                    <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                    <div>
                                        <p>Foodie</p>
                                        <div>
                                            <span>Rs---</span>
                                            <button>
                                                <span>+</span>
                                                <span>ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                    <div>
                                        <p>Foodie</p>
                                        <div>
                                            <span>Rs---</span>
                                            <button>
                                                <span>+</span>
                                                <span>ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                    <div>
                                        <p>Foodie</p>
                                        <div>
                                            <span>Rs---</span>
                                            <button>
                                                <span>+</span>
                                                <span>ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <img class="img1" src="/img/food1.webp" alt="" width="100%">
                                    <div>
                                        <p>Foodie</p>
                                        <div>
                                            <span>Rs---</span>
                                            <button>
                                                <span>+</span>
                                                <span>ADD</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                </div>
</section>
    <script src="/js/app.js"></script>
</body>
</html>