<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer cart</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <nav class="container">
        <div>
            <h2>RESTURANT HOOMIE</h2>
        </div>
        <div>
            <ul class="flex items-center">
                <li class="max"><a href="#">Menu</a></li>
                <li class="maax"><a href="#">Offers</a></li>
                <li class="max"><a href="/register">Register</a></li>
                <li class="max"><a href="/login">Login</a></li>
                <li class="max"><a href="#"><img src="/img/cart.png" alt="" width="50px"></a></li>
            </ul>
        </div>
    </nav>
    <%- body %>

    <script src="/js/app.js"></script>
</body>
</html>