<section class="empty">
    <div class="full-container">
<img src="/img/cart.png" alt="" width="10%">
<h1>Order Summary</h1>
    </div>
    <div class="list">
<img src="/img/food1.webp" alt="" width="15%">
    
    <div>
        <pre>
            Foodie                   1pcs                   RS 300
           
        </pre>
    </div>
</div>
<hr>
<div class="list">
    <img src="/img/food1.webp" alt="" width="15%">
        
        <div>
            <pre>
            Foodie                   1pcs                   RS 300
               
            </pre>
        </div>
    </div>
    <hr>
    <div class="list">
        <img src="/img/food1.webp" alt="" width="15%">
            
            <div>
                <pre>
            Foodie                   1pcs                   RS 300
                   
                </pre>
            </div>
        </div>
        <hr>
        <div>
            <pre>Total Amount:- Rs 300</pre>
        </div>
        <input type="text" placeholder="Phone Number">
        <input type="text" placeholder="Address">
        <button type="submit"> Order Now</button>
        <!-- <button type="submit"> Login for Continue</button> -->
    <style>
        button {
            font-size: 20px;
        }
        input {
            margin-right: 150px;
            width: 500px;
            height: 50px;
            font-size: 20px;
        }
        .list {
            text-align: center;
            display: flex;
            padding: 50px;
        }
        .full-container {
            text-align: center;
        }
    </style>
<!-- <div class="empty-container">
<pre> You didn't Buy anything go on site and
     buy something as sson as possible</pre>
     <img class="front" src="/img/empty-cart.webp" alt="" >
     <a href="/">Go Main Page</a>
</div>
<style>
    a {
        text-decoration: none;
        font-size: 20px;
        color: rgb(27, 2, 2);
        font-weight: bold;
    }
</style> -->
</section>